@media(max-width: 1380px) {
    .header_nav >ul > li {
        margin-left: 30px;
        padding:10px 0;
    }
}

@media(max-width: 1035px) {
    .about_btns {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about_btns > a {
        margin-bottom: 20px;
        width:100%;
}
    .dark_img {
        display: none;
    }

    .about_row {
        flex-wrap: wrap;
    }

    .about_img {
        right:0;
        width:100%;
    }

    .section_tops {
        width:100%;
    }

    .service_elem {
        width:calc(100% / 2 - 3%);
        margin-bottom:10px;
    }

    .project_elem {
        width: calc(100% / 3 - 3%);
    }

    .header_nav {
        display: none;
    }

    .mobile_bar.fas {
        display: block;
    }

    .faq_block {
        width:100%;
    }
}


@media(max-width: 660px) {
    .under_block {
        transform: scale(.7);
        margin:0;
    }

    .service_elem {
        width:100%;
    }

    .project_elem {
        width: calc(100% / 2 - 3%);
    }

    .main_counter {
        flex-direction: column;
        align-items: center;
    }
    
    .count:nth-child(2) {
        margin:50px 0;
        border:none;
        border-top:1px solid #707070;
        border-bottom:1px solid #707070;
        padding:2% 0;
    }

}

@media(max-width: 500px) {

    .project_tops {
        display: flex;
        flex-direction:column;
    }

    
    .project_tops > button {
        margin-bottom:20px;
    }

}

@media(max-width: 465px) {

    .project_elem {
        width: 100%;
    }

    .under_block {
        width:fit-content;
        transform: scale(.5);
        padding:20%;
    }

    .slider .slick-dots {
        right:40%;
    }

}

@media(max-width: 320px) {
    .under_header_1,.under_header_2 {
        display: flex;
        justify-content: center;
        text-align: left;
    }
}